*{
    margin: 0px;
    padding: 0px;
}
/*Navbar CSS*/
.Navbar{
	height: 100px;
	position:sticky;
	margin:  0px 20px;
}
.Navbar-image {
	top: 22px;
	left: 150px;
	position: absolute;
}
.Navbar-menu ul{
	float: right;
	padding: 37px 85px;
}
.Navbar-menu li {
	list-style: none;
	display: inline;
	margin-right: 60px;
}
.Navbar-menu a{
	text-decoration: none;
	color:#3d7dca
}
.startbtn{
	border: 1px solid #3d7dca;
	padding: 8px 10px;
}
.startbtn:hover{
    background:#3d7dca ;
    color: white;
}
/*Container*/
.back-img{
    text-align: center;
    color: white;
}
.back-img h1{
    color: white;
    padding-top: 50px;
    padding-bottom:40px;
}
.back-img h3{
    padding: 0px 150px;
    padding-bottom: 50px;
}
/*cards*/
.card{
    display: flex;
    flex-wrap: wrap;
    margin-left: 235px;
    margin-bottom: 30px;
    top: -56px;
    position: relative;
}
.sub-card{
    width: 500px;
    background: white;
    border: 1px solid wheat;
    margin:10px 10px 10px 10px  ;
}
 .sub-card i{
    font-size: 72px;
    color: #011e41;
    position:absolute;
    top: 30px;
    left: 49px;
    padding: 0px 10px;
}
.icons{
    position: relative;
    margin: 60px;
    margin-bottom:65px ;
}
.content{
    padding: 19px 50px;
    padding-bottom: 91px;
}
.sub-card h2{
    color: #011e41;
}
.square{
    content: '';
    width: 80px;
    height: 80px;
    background-color: rgb(255, 219, 15);
    margin: 2px;
}
/*FOOTER*/
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 23%;
    padding: 10px;
    height: 300px; 
    }
    
    /* Clear floats after the columns */
    .footer:after {
    content: "";
    display: table;
    clear: both;
    }
    .footer{margin-left: 150px; }
    .column a{
      text-decoration: none;
      color:#3471bc ;
    }
    form{
        margin: 100px 250px 100px 150px;
    }